Pre Entrega 17-02-26.json
{
  "name": "Pre Entrega 17-02-26",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "455242b9-9f5e-4943-ba67-25037942eb3b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://api.open-meteo.com/v1/forecast?latitude=-34.61&longitude=-58.38&current_weather=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "6a04a855-7fbb-4d23-aceb-e4abeb984d24",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "600ea80b-26cd-4fc9-8237-cd4560e98909",
              "name": "Temperatura-actual",
              "value": "={{ $json.current_weather.temperature }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        0
      ],
      "id": "b7a07c76-1af0-48e3-8298-b157216ad24e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "dc0ed235-f554-42ec-b1a6-692e29bc7b95",
              "leftValue": "={{ $json['Temperatura-actual'] }}",
              "rightValue": 24,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "68e12ff5-67a3-49cc-8d30-44a195a3b663",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "milenita.eli@gmail.com",
        "subject": "=⚠️ Alerta Clima:{{ $json['Temperatura-actual'] }}°C",
        "message": "El sistema detectó que la temperatura superó los 24 grados. Recuerda activar el riego automático.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        -96
      ],
      "id": "e884978b-1dab-4480-8f6a-ab6758365108",
      "name": "Send a message",
      "webhookId": "e62a768d-b09f-48e7-8071-355d22c87346",
      "credentials": {
        "gmailOAuth2": {
          "id": "HzNYNE3vs7OmJMMs",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Monitor de Clima y Alerta de Riego/Cuidado\n",
        "height": 96,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -208
      ],
      "typeVersion": 1,
      "id": "a7ef4c78-542b-42d7-b81a-78994094888e",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "10c61cec-14cb-41f4-9388-f09402e0b650",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a824837fa3a1ccc8f57ff3146de829ec02f9234fdde8db0ac115a0c3fc4b5f5d"
  },
  "id": "yGnkT1CYrtpyp2sW",
  "tags": []
}